.home
  height: 100%
  background-color: #7D6D61

.home__content
  display: flex
  height: 100%
  justify-content: center
  align-items: center

.home__content-center
  text-align: center

.home__content-greeting
  margin-top: 20px