//---GENERAL-SETTINGS
*, *:before, *:after
  box-sizing: border-box

html
  //color: $darkgray
  font-size: $base-font-size
  font-family: $base-font-family
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow-y: auto

body
  margin: 0
  //color: $darkgray

textarea, input, button
  -webkit-appearance: none !important
  -moz-appearance: none !important
  appearance: none !important
  outline: none !important
  border-radius: 0

p
  margin-bottom: 0
//---APP-SETTINGS

.nowrap
  white-space: nowrap






